.navbar1 {
  padding-bottom: 10px;
  border-bottom: 2px solid #E5EBF7;
}

.logoText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000714;
  margin-left: 10px;
}

.logoTextA {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 7, 20, 0.7);
  margin-left: 10px;
}

.navbarTopRight {
  position: relative;
  width: 65%;
  justify-content: end;
}
.navbarTopRight .imgFrom {
  position: absolute;
  left: -80%;
  z-index: 1;
  background-color: white;
  padding: 0px 10px;
}
.navbarTopRight .imgFrom img {
  width: 20px;
  height: 20px;
}
.navbarTopRight .dNone {
  display: none;
}
.navbarTopRight .avform {
  height: auto;
  width: 58%;
  left: 0;
  margin-top: 15px;
  box-shadow: 0 0 0 0;
}
.navbarTopRight .avform .avform2 {
  border: 0;
  width: 270%;
  box-shadow: 0 0 0 0;
}
.navbarTopRight .avform .avform2 placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.navbarTopRight img {
  margin-right: 18px;
}
.navbarTopRight span {
  margin-right: 18px;
}

.icons {
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.changeColorIcon {
  transition: all 0.1s linear;
}
.changeColorIcon:active {
  transform: scale(1.3);
}

.eri {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #0166FF;
}

.languageSelect img {
  margin: 0;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.languageSelect select {
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #201918;
}
.languageSelect select:focus {
  outline: none;
}
.languageSelect select option {
  border: 0;
  outline: none;
}

.navbarNav {
  margin-top: 12px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 7, 20, 0.15);
  padding-bottom: 15px;
}
.navbarNav .aLink {
  position: relative;
}
.navbarNav .aLink:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: black;
  margin-top: 40px;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
}
.navbarNav .aLink:hover:before {
  width: 100%;
  transform: scaleX(1);
}

.navbarNavLeft {
  display: flex;
  align-items: center;
}
.navbarNavLeft .aLink {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.navbarNavLeft a:first-child {
  margin-left: 0;
}
.navbarNavLeft a {
  color: black;
  margin-left: 15px;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.navbarNavLeft .korxona {
  font-family: Inter;
  color: black;
  font-weight: bold;
  background-color: white;
}
.navbarNavLeft .korxona:before {
  content: "";
  position: absolute;
  margin-left: 0;
  margin-top: 20px;
  margin-top: 40px;
  width: 128px;
  background-color: black;
  transition: all 0.5s linear;
}
.navbarNavLeft .korxona.active:before {
  height: 3px;
}
.navbarNavLeft .active .korxonaLink {
  top: 120px;
}
.navbarNavLeft .korxonaLink {
  padding-top: 15px;
  padding-bottom: 45px;
  transition: all 0.3s linear;
  position: absolute;
  z-index: 1;
  opacity: revert;
  left: 0;
  top: -385px;
  width: 100%;
  background-color: white;
  height: 250px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.navbarNavLeft .korxonaLink .links {
  position: relative;
  padding: 8px 0;
}
.navbarNavLeft .korxonaLink .links:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 4px;
  background-color: black;
  transition: all 0.2s linear;
  transform: scaleY(0);
}
.navbarNavLeft .korxonaLink .links:hover .tabLink {
  margin-left: 5px;
}
.navbarNavLeft .korxonaLink .links:hover:before {
  height: 90%;
  transform: scaleY(1);
}
.navbarNavLeft .korxona2 {
  font-family: Inter;
  color: black;
  font-weight: bold;
  margin-left: 15px;
}
m .navbarNavLeft .korxona2:before {
  content: "";
  position: absolute;
  margin-left: 0;
  margin-top: 20px;
  margin-top: 40px;
  width: 153px;
  background-color: black;
  transition: all 0.5s linear;
}
.navbarNavLeft .korxona2.active2:before {
  height: 3px;
}
.navbarNavLeft .active2 .korxonaLink2 {
  top: 120px;
}
.navbarNavLeft .korxonaLink2 {
  padding-top: 15px;
  padding-bottom: 45px;
  transition: all 0.3s linear;
  position: absolute;
  z-index: 1;
  left: 0;
  top: -255px;
  width: 100%;
  background-color: white;
  height: 248px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.navbarNavLeft .korxonaLink2 .links {
  position: relative;
  padding: 8px 0;
}
.navbarNavLeft .korxonaLink2 .links:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 4px;
  background-color: black;
  transition: all 0.2s linear;
  transform: scaleY(0);
}
.navbarNavLeft .korxonaLink2 .links:hover .tabLink {
  margin-left: 5px;
}
.navbarNavLeft .korxonaLink2 .links:hover:before {
  height: 90%;
  transform: scaleY(1);
}

.navbarNavRight img {
  margin-right: 15px;
  z-index: 0;
}
.navbarNavRight .aLink {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.navbarNavRight a {
  color: black;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.navbarNavRight span {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.footer {
  background-color: #001009;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer .uzbRes {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #424752;
}
.footerLink {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 20px;
}
.footerLink:hover {
  color: white;
  text-decoration: none;
}

.footerLink2 {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.footerLink2:hover {
  color: white;
  text-decoration: none;
}

.footerMenu {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.footerMenu:hover {
  color: white;
  text-decoration: none;
}

.footerDiv {
  margin-top: 10px;
  text-decoration: none;
}

.mesenger img:first-child {
  padding-left: 0;
}
.mesenger img {
  margin-top: 10px;
  padding: 0 10px;
  width: 45px;
  height: 35px;
}

.footerLine {
  width: 100%;
  border: 1px solid #808784;
  margin-top: 30px;
}

.section1 {
  padding: 50px 0;
}
.section1 p {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 32px;
  color: #000714;
}
.section1 span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}
.section1 img {
  width: inherit;
}

.section2 {
  background-color: #E5EBF7;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section2 p {
  margin-top: 150px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
.section2 button {
  color: #0166FF;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #0166FF;
  margin-top: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.section2 button:hover {
  color: #0153a8;
  border: 1px solid #0153a8;
}

.section3 {
  height: 500px;
  position: relative;
  margin-top: 1px;
}
.section3 .NewIMG {
  width: 100%;
  height: 100vh;
}
.section3 img {
  width: 100%;
}
.section3 .img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 120%;
}

.section3Left {
  width: 45%;
  position: absolute;
  top: 0;
  margin-top: 50px;
}
.section3Left p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.section3Left .textBlue {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #0166FF;
  text-decoration: none;
}
.section3Left .batafsil {
  max-height: 75px;
  overflow: hidden;
}
.section3Left .batafsil span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.section4 {
  background-color: white;
  text-align: center;
  padding: 50px 0;
}
.section4 .col-6 .card {
  text-align: center;
  background-color: #E5EBF7;
  border-radius: 64px;
  padding: 40px 20px;
}
.section4 .col-6 .card h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  margin-top: 40px;
}
.section4 .col-6 .card p {
  margin-top: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #424752;
  height: 30px;
}
.section4 .col-6 .card img {
  width: 200px;
  height: 200px;
}
.section4 .col-6 .card a {
  margin-top: 50px;
  background-color: #0166FF;
  color: white;
  width: 58%;
  display: flex;
  align-items: center;
  padding: 12px 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.section4 .col-6 .card a .img {
  width: 30px;
  height: 26px;
}

.section5 {
  padding: 72px 0;
}
.section5 h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}
.section5 h4 {
  margin-top: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
.section5 p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #424752;
}

.enterpriseOne {
  padding: 45px 0;
}
.enterpriseOne .acbacround {
  background: #E5EBF7;
  padding: 10px 0;
  box-shadow: 0 0 0 0;
  border: 0;
}
.enterpriseOne .acbacround h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.enterpriseOne .acbacround span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.enterpriseOne .acbacround .lineac {
  border: 1px solid #7B808C;
  width: 100%;
  margin: 15px 0;
}
.enterpriseOne .acbacround .lineac2 {
  border: 1px solid #7B808C;
  width: 100%;
}
.enterpriseOne .acbacround .acbacround2 {
  background: #E5EBF7;
  box-shadow: 0 0 0 0;
}
.enterpriseOne .acbacround .acbacround2:before {
  display: none;
}
.enterpriseOne .acbacround .acbacround2 span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0166FF;
}
.enterpriseOne .acbacround .acbacround2 .actitle2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000714;
}
.enterpriseOne .col-12 {
  padding: 0 0;
}
.enterpriseOne .col-12 .card {
  width: 100%;
  cursor: pointer;
  background-color: #E5EBF7;
  border: 1px solid #E5EBF7;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 10px;
}
.enterpriseOne .col-12 .card h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.enterpriseOne .col-12 .card span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.enterpriseOne .col-12 .card h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}
.enterpriseOne .maqsadliAud {
  width: 100%;
}
.enterpriseOne .maqsadliAud h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.enterpriseOne .maqsadliAud p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #0166FF;
}
.enterpriseOne .cicrle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}
.enterpriseOne .cicrle span {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.enterpriseOne .cicrleText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}

.staff {
  padding: 45px 0;
}
.staff h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}
.staff .col-3 .card {
  margin-top: 30px;
  border-radius: 32px 32px 0px 0px;
}
.staff .col-3 .card .card-img-top {
  border-radius: 32px 32px 0px 0px;
}
.staff .col-3 .card .card-img-top img {
  width: 262px;
  border-radius: 32px 32px 0px 0px;
}
.staff .col-3 .card .card-body {
  background-color: #E5EBF7;
  height: 220px;
}
.staff .col-3 .card .card-body h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.staff .col-3 .card .card-body p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #424752;
}

.modalOpen {
  position: absolute;
  transition: all 3s linear;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 85%;
  background-color: #E5E5E5;
}

.xodimForm {
  position: absolute;
  width: 928px;
  height: 250px;
  background: white;
  z-index: 2;
  opacity: 100%;
  border-radius: 32px;
}

.xodimForm1 {
  background-color: white;
  position: absolute;
  width: 998px;
  height: 278px;
  border-radius: 32px;
  margin-left: -50%;
  margin-top: 40%;
  transition: all 0.5s linear;
}
.xodimForm1 .ModalImgOne {
  margin-left: 40px;
  margin-top: -40px;
  border-radius: 32px;
  width: 266px;
  height: 266px;
}
.xodimForm1 .modala {
  position: absolute;
  background: #0153a8;
  width: 100%;
  height: 100%;
}
.xodimForm1 .ModalImgTwo {
  position: absolute;
  margin-top: -30px;
  margin-left: 1000px;
  width: 20px;
  height: 20px;
}
.xodimForm1 h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.xodimForm1 span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}
.xodimForm1 a {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000714;
}

.youthunion {
  padding: 45px 0;
}
.youthunion h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}
.youthunion p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}

.laws {
  padding: 72px 0;
}
.laws h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #000714;
}
.laws span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}
.laws p {
  margin-top: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000714;
}
.laws .lawsLink {
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 48px;
  background: #0166FF;
  border-radius: 8px;
  text-align: center;
  margin-top: 40px;
}
.laws p {
  text-decoration: none;
}
.laws p span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}

.lawsModal {
  position: relative;
}

.lawsModalBody {
  padding: 40px 60px;
  position: absolute;
  width: 1028px;
  height: 291px;
  background: #FFFFFF;
  border-radius: 32px;
  margin-top: 25%;
  left: -52%;
}
.lawsModalBody .radioaf label {
  margin-left: 10px;
}
.lawsModalBody h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #000714;
}
.lawsModalBody span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}
.lawsModalBody .labelInput {
  margin-top: 30px;
}
.lawsModalBody .labelInput span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #201918;
  margin-left: 10px;
}
.lawsModalBody .yuklash {
  width: 240px;
  height: 48px;
  background: #0166FF;
  border-radius: 4px;
  padding: 10px 60px;
  text-decoration: none;
}
.lawsModalBody .yuklash span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.lawsModalBody .yuklash1 {
  margin-right: 20px;
  text-decoration: none;
  width: 240px;
  height: 48px;
  border-radius: 4px;
  padding: 10px 60px;
  border: 1px solid #201918;
}
.lawsModalBody .yuklash1 span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #201918;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accounting {
  padding: 48px 0;
}
.accounting .accountingName {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #000714;
}
.accounting .accountingSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
  margin-top: 16px;
  background: #E5EBF7;
  border: 1px solid #E5EBF7;
  box-sizing: border-box;
  border-radius: 8px;
}
.accounting .accountingSection span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000714;
}
.accounting .acbacround {
  background: #E5EBF7;
  padding: 10px 0;
  box-shadow: 0 0 0 0;
  border: 0;
}
.accounting .acbacround .lineac {
  border: 1px solid #7B808C;
  width: 100%;
  margin: 15px 0;
}
.accounting .acbacround .lineac2 {
  border: 1px solid #7B808C;
  width: 100%;
}
.accounting .acbacround span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0166FF;
}
.accounting .acbacround .acbacround2 {
  background: #E5EBF7;
  box-shadow: 0 0 0 0;
}
.accounting .acbacround .acbacround2:before {
  display: none;
}
.accounting .acbacround .acbacround2 span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0166FF;
}
.accounting .acbacround .acbacround2 .actitle2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000714;
}
.accounting .actitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000714;
}

/*# sourceMappingURL=main.css.map */
