.navbar1 {
  padding-bottom: 10px;
  border-bottom: 2px solid #E5EBF7;
}

.logoText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}

.navbarTopRight {
  width: 50%;
  justify-content: end;
}
.navbarTopRight img {
  margin-right: 18px;
}
.navbarTopRight span {
  margin-right: 18px;
}

.icons {
  width: 20px;
  height: 20px;
}

.eri {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: blue;
}

.navbarNav {
  margin-top: 12px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 7, 20, 0.15);
  padding-bottom: 15px;
}

.navbarNavLeft {
  display: flex;
  align-items: center;
}
.navbarNavLeft a:first-child {
  margin-left: 0;
}
.navbarNavLeft a {
  color: black;
  margin-left: 15px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.navbarNavLeft .drop .dropToogle {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  padding-left: 0;
  background-color: white;
}
.navbarNavLeft .drop .dropToogle .dropImg {
  width: 10px;
  height: 7px;
  margin-left: 5px;
}
.navbarNavLeft .drop .dropToogle:focus {
  background-color: white;
  color: black;
  box-shadow: none;
}
.navbarNavLeft .drop .dropMenu {
  background-color: white;
}
.navbarNavLeft .drop .dropMenu .dropItem:focus {
  background: white;
}
.navbarNavLeft .drop .dropMenu .dropItem:active {
  background-color: white;
}

.navbarNavRight img {
  margin-right: 15px;
}
.navbarNavRight span {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  background-color: #001009;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footerLink {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 20px;
}

.footerLink2 {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.footerMenu {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footerDiv {
  margin-top: 10px;
  text-decoration: none;
}

.mesenger img:first-child {
  padding-left: 0;
}
.mesenger img {
  margin-top: 10px;
  padding: 0 10px;
  width: 45px;
  height: 35px;
}

.footerLine {
  width: 100%;
  border: 1px solid #808784;
  margin-top: 30px;
}

.section1 {
  padding: 50px 0;
}
.section1 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 32px;
  color: #000714;
}
.section1 span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}
.section1 img {
  width: inherit;
}

.section2 {
  background-color: #E5EBF7;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section2 p {
  margin-top: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
.section2 button {
  color: #0166FF;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #0166FF;
  margin-top: 50px;
  font-weight: 500;
}
.section2 button:hover {
  color: #0153a8;
  border: 1px solid #0153a8;
}

.section3 {
  position: relative;
}
.section3 img {
  width: 100%;
}

.section3Left {
  width: 60%;
  height: 100%;
  background-color: #E5EBF7;
  position: absolute;
  top: 0;
  left: 0;
}

.section4 {
  background-color: white;
  text-align: center;
  padding: 50px 0;
}
.section4 .col-6 .card {
  text-align: center;
  background-color: #E5EBF7;
  border-radius: 64px;
  padding: 40px 0;
}
.section4 .col-6 .card h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  margin-top: 40px;
}
.section4 .col-6 .card p {
  margin-top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.section4 .col-6 .card img {
  width: 180px;
  height: 180px;
}
.section4 .col-6 .card a {
  margin-top: 50px;
  background-color: #0166FF;
  color: white;
  width: 40%;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.section4 .col-6 .card a img {
  width: 30px;
  height: 26px;
}

.enterpriseOne {
  padding: 45px 0;
}
.enterpriseOne .col-12 {
  padding: 0 0;
}
.enterpriseOne .col-12 .card {
  background-color: #E5EBF7;
  border: 1px solid #E5EBF7;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 10px;
}
.enterpriseOne .col-12 .card h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.enterpriseOne .col-12 .card span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.enterpriseOne .maqsadliAud {
  width: 100%;
}
.enterpriseOne .maqsadliAud h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.enterpriseOne .maqsadliAud p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #0166FF;
}
.enterpriseOne .cicrle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}
.enterpriseOne .cicrle span {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.enterpriseOne .cicrleText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #424752;
}

/*# sourceMappingURL=main.css.map */
